@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-duration: 0.3s;
  --fast-transition-duration: 0.2s;
  --slow-transition-duration: 0.6s;
  --transition-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --bounce-transition-fn: cubic-bezier(0.54, 1.12, 0.38, 1.11);
  --transition: all var(--transition-duration) var(--transition-fn);
}

@layer utilities {
  .h-screen-max {
    height: 100vh;
    max-height: -webkit-fill-available;
  }

  .transition-default {
    @apply transition-all;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-fn);
  }
}
