.radix-themes {
  --default-font-size: 18px;
  --default-font-family: var(--font-plaventi);
  --font-weight-bold: 600;

  .rt-Heading {
    font-weight: var(--font-weight-medium);
  }

  .dark,
  .dark-theme {
    --blue-1: #09161a;
    --blue-2: #0d1c21;
    --blue-3: #002c38;
    --blue-4: #00394a;
    --blue-5: #00475b;
    --blue-6: #00566c;
    --blue-7: #006983;
    --blue-8: #0082a1;
    --blue-9: #21bce2;
    --blue-10: #00b0d6;
    --blue-11: #49ccf0;
    --blue-12: #b6eeff;

    --blue-a1: #00d30004;
    --blue-a2: #26f9000a;
    --blue-a3: #00f7db1c;
    --blue-a4: #00ebfc2d;
    --blue-a5: #00e0fc41;
    --blue-a6: #00dfff54;
    --blue-a7: #00d9ff6f;
    --blue-a8: #00d5ff92;
    --blue-a9: #24d6fede;
    --blue-a10: #00d3fed0;
    --blue-a11: #4ddaffee;
    --blue-a12: #b6eeff;

    --blue-contrast: #fff;
    --blue-surface: #0e251f80;
    --blue-indicator: #21bce2;
    --blue-track: #21bce2;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme {
        --blue-1: oklch(19% 0.02 220.2);
        --blue-2: oklch(21.4% 0.023 220.2);
        --blue-3: oklch(27.2% 0.05 220.2);
        --blue-4: oklch(31.7% 0.071 220.2);
        --blue-5: oklch(36.5% 0.079 220.2);
        --blue-6: oklch(41.7% 0.086 220.2);
        --blue-7: oklch(48.1% 0.095 220.2);
        --blue-8: oklch(55.8% 0.113 220.2);
        --blue-9: oklch(73.7% 0.129 220.2);
        --blue-10: oklch(70.2% 0.129 220.2);
        --blue-11: oklch(78.8% 0.122 220.2);
        --blue-12: oklch(91.6% 0.062 220.2);

        --blue-a1: color(display-p3 0 0.98 0 / 0.013);
        --blue-a2: color(display-p3 0.353 0.98 0 / 0.039);
        --blue-a3: color(display-p3 0.09 1 0.91 / 0.102);
        --blue-a4: color(display-p3 0.239 0.933 0.996 / 0.169);
        --blue-a5: color(display-p3 0.275 0.89 1 / 0.246);
        --blue-a6: color(display-p3 0.322 0.878 1 / 0.323);
        --blue-a7: color(display-p3 0.337 0.855 1 / 0.423);
        --blue-a8: color(display-p3 0.353 0.839 1 / 0.56);
        --blue-a9: color(display-p3 0.408 0.839 1 / 0.85);
        --blue-a10: color(display-p3 0.369 0.831 1 / 0.796);
        --blue-a11: color(display-p3 0.475 0.855 1 / 0.914);
        --blue-a12: color(display-p3 0.769 0.933 1 / 0.991);

        --blue-contrast: #fff;
        --blue-surface: color(display-p3 0.071 0.133 0.114 / 0.5);
        --blue-indicator: oklch(73.7% 0.129 220.2);
        --blue-track: oklch(73.7% 0.129 220.2);
      }
    }
  }

  .dark,
  .dark-theme {
    --gray-1: #131416;
    --gray-2: #1a1a1c;
    --gray-3: #232326;
    --gray-4: #292a2e;
    --gray-5: #303136;
    --gray-6: #393a40;
    --gray-7: #46484f;
    --gray-8: #5f606a;
    --gray-9: #6c6e79;
    --gray-10: #797b86;
    --gray-11: #b2b3bd;
    --gray-12: #eeeef0;

    --gray-a1: #ec330008;
    --gray-a2: #fb8a000f;
    --gray-a3: #f7b73919;
    --gray-a4: #fad1771f;
    --gray-a5: #fedd9d26;
    --gray-a6: #fce3b930;
    --gray-a7: #fff1d83d;
    --gray-a8: #fdf3ef58;
    --gray-a9: #fff9fb65;
    --gray-a10: #fdfafd73;
    --gray-a11: #f8f7feb3;
    --gray-a12: #fefeffee;

    --gray-contrast: #ffffff;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6c6e79;
    --gray-track: #6c6e79;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme {
        --gray-1: oklch(19% 0.004 277.7);
        --gray-2: oklch(22% 0.004 277.7);
        --gray-3: oklch(25.7% 0.005 277.7);
        --gray-4: oklch(28.5% 0.008 277.7);
        --gray-5: oklch(31.4% 0.009 277.7);
        --gray-6: oklch(35% 0.01 277.7);
        --gray-7: oklch(40.2% 0.012 277.7);
        --gray-8: oklch(49.2% 0.016 277.7);
        --gray-9: oklch(54% 0.017 277.7);
        --gray-10: oklch(58.6% 0.016 277.7);
        --gray-11: oklch(77% 0.014 277.7);
        --gray-12: oklch(94.9% 0.003 277.7);

        --gray-a1: color(display-p3 0.996 0.231 0 / 0.025);
        --gray-a2: color(display-p3 0.996 0.584 0 / 0.054);
        --gray-a3: color(display-p3 1 0.765 0.267 / 0.091);
        --gray-a4: color(display-p3 1 0.855 0.51 / 0.116);
        --gray-a5: color(display-p3 1 0.886 0.655 / 0.145);
        --gray-a6: color(display-p3 1 0.914 0.741 / 0.182);
        --gray-a7: color(display-p3 1 0.953 0.855 / 0.236);
        --gray-a8: color(display-p3 1 0.965 0.949 / 0.339);
        --gray-a9: color(display-p3 1 0.98 0.988 / 0.393);
        --gray-a10: color(display-p3 1 0.984 1 / 0.447);
        --gray-a11: color(display-p3 0.98 0.976 1 / 0.696);
        --gray-a12: color(display-p3 0.996 0.996 1 / 0.932);

        --gray-contrast: #ffffff;
        --gray-surface: color(display-p3 0 0 0 / 5%);
        --gray-indicator: oklch(54% 0.017 277.7);
        --gray-track: oklch(54% 0.017 277.7);
      }
    }
  }

  .dark,
  .dark-theme,
  :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #0c1324;
  }

  :root,
  .light,
  .light-theme {
    --blue-1: #f9fdff;
    --blue-2: #f1fafe;
    --blue-3: #dbf7ff;
    --blue-4: #c6f1ff;
    --blue-5: #b0e9fb;
    --blue-6: #96ddf4;
    --blue-7: #73ceea;
    --blue-8: #19b9df;
    --blue-9: #21bce2;
    --blue-10: #00b0d6;
    --blue-11: #007c9c;
    --blue-12: #003e4d;

    --blue-a1: #00aaff06;
    --blue-a2: #00a4ed0e;
    --blue-a3: #00c7ff24;
    --blue-a4: #00c1ff39;
    --blue-a5: #00b8f34f;
    --blue-a6: #00ade569;
    --blue-a7: #00a6d98c;
    --blue-a8: #00b1dce6;
    --blue-a9: #00b2dede;
    --blue-a10: #00b0d6;
    --blue-a11: #007c9c;
    --blue-a12: #003e4d;

    --blue-contrast: #fff;
    --blue-surface: #eef9fecc;
    --blue-indicator: #21bce2;
    --blue-track: #21bce2;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme {
        --blue-1: oklch(99.2% 0.005 220.2);
        --blue-2: oklch(98% 0.011 220.2);
        --blue-3: oklch(95.8% 0.031 220.2);
        --blue-4: oklch(93.2% 0.048 220.2);
        --blue-5: oklch(90% 0.063 220.2);
        --blue-6: oklch(86% 0.077 220.2);
        --blue-7: oklch(80.5% 0.096 220.2);
        --blue-8: oklch(72.7% 0.129 220.2);
        --blue-9: oklch(73.7% 0.129 220.2);
        --blue-10: oklch(70.2% 0.129 220.2);
        --blue-11: oklch(53.8% 0.129 220.2);
        --blue-12: oklch(33.4% 0.063 220.2);

        --blue-a1: color(display-p3 0.02 0.608 1 / 0.02);
        --blue-a2: color(display-p3 0.024 0.592 0.839 / 0.048);
        --blue-a3: color(display-p3 0.004 0.714 0.969 / 0.122);
        --blue-a4: color(display-p3 0.008 0.69 0.961 / 0.189);
        --blue-a5: color(display-p3 0.004 0.643 0.914 / 0.263);
        --blue-a6: color(display-p3 0.004 0.596 0.843 / 0.35);
        --blue-a7: color(display-p3 0.004 0.569 0.8 / 0.463);
        --blue-a8: color(display-p3 0 0.569 0.788 / 0.663);
        --blue-a9: color(display-p3 0 0.576 0.8 / 0.648);
        --blue-a10: color(display-p3 0 0.537 0.745 / 0.695);
        --blue-a11: color(display-p3 0 0.341 0.494 / 0.793);
        --blue-a12: color(display-p3 0 0.165 0.224 / 0.91);

        --blue-contrast: #fff;
        --blue-surface: color(display-p3 0.941 0.976 0.992 / 0.8);
        --blue-indicator: oklch(73.7% 0.129 220.2);
        --blue-track: oklch(73.7% 0.129 220.2);
      }
    }
  }

  :root,
  .light,
  .light-theme {
    --gray-1: #fcfcfd;
    --gray-2: #f9f9fb;
    --gray-3: #eff0f3;
    --gray-4: #e7e8ec;
    --gray-5: #e0e1e6;
    --gray-6: #d8d9e0;
    --gray-7: #cdced7;
    --gray-8: #b9bbc6;
    --gray-9: #8b8d98;
    --gray-10: #80828d;
    --gray-11: #62636c;
    --gray-12: #1e1f24;

    --gray-a1: #00005503;
    --gray-a2: #00005506;
    --gray-a3: #00104010;
    --gray-a4: #000b3618;
    --gray-a5: #0009321f;
    --gray-a6: #00073527;
    --gray-a7: #00063332;
    --gray-a8: #00083046;
    --gray-a9: #00051d74;
    --gray-a10: #00051b7f;
    --gray-a11: #0002119d;
    --gray-a12: #000107e1;

    --gray-contrast: #ffffff;
    --gray-surface: #ffffffcc;
    --gray-indicator: #8b8d98;
    --gray-track: #8b8d98;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme {
        --gray-1: oklch(99.1% 0.001 277.7);
        --gray-2: oklch(98.2% 0.003 277.7);
        --gray-3: oklch(95.6% 0.005 277.7);
        --gray-4: oklch(93.1% 0.006 277.7);
        --gray-5: oklch(91% 0.008 277.7);
        --gray-6: oklch(88.8% 0.009 277.7);
        --gray-7: oklch(85.3% 0.012 277.7);
        --gray-8: oklch(79.4% 0.016 277.7);
        --gray-9: oklch(64.6% 0.016 277.7);
        --gray-10: oklch(61% 0.016 277.7);
        --gray-11: oklch(50.3% 0.014 277.7);
        --gray-12: oklch(24.1% 0.01 277.7);

        --gray-a1: color(display-p3 0.024 0.024 0.349 / 0.012);
        --gray-a2: color(display-p3 0.024 0.024 0.349 / 0.024);
        --gray-a3: color(display-p3 0.008 0.067 0.255 / 0.063);
        --gray-a4: color(display-p3 0.012 0.051 0.216 / 0.095);
        --gray-a5: color(display-p3 0.004 0.039 0.2 / 0.122);
        --gray-a6: color(display-p3 0.004 0.027 0.18 / 0.153);
        --gray-a7: color(display-p3 0.008 0.027 0.184 / 0.197);
        --gray-a8: color(display-p3 0.004 0.031 0.176 / 0.275);
        --gray-a9: color(display-p3 0.004 0.02 0.106 / 0.455);
        --gray-a10: color(display-p3 0.004 0.02 0.098 / 0.499);
        --gray-a11: color(display-p3 0 0.008 0.059 / 0.616);
        --gray-a12: color(display-p3 0 0.004 0.027 / 0.883);

        --gray-contrast: #ffffff;
        --gray-surface: color(display-p3 1 1 1 / 80%);
        --gray-indicator: oklch(64.6% 0.016 277.7);
        --gray-track: oklch(64.6% 0.016 277.7);
      }
    }
  }

  :root,
  .light,
  .light-theme,
  .radix-themes {
    --color-background: #fff;
  }
}

* {
  font-family: var(--default-font-family);
}
